body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    font-weight: 400;
    font-size: 1.25rem;
}

.btn-success {
    font-weight: 700;
    font-size: 1.25rem;
}

.copy-icon {
    cursor: pointer;
    vertical-align: top;
}

#banner {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.input-group {
    width: 100%;
}

.form-container {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-success {
    width: 100%;
}

.alert-container {
    min-height: 150px;
    margin-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 10px 0;
    padding-right: 10px;
}

.footer img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.footer a {
    color: #bbb;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}