<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Link Shortener</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <h1>Link Shortener</h1>
        <form hx-post="/shorten" hx-target="#result" hx-swap="innerHTML">
            <input type="text" name="url" placeholder="Enter URL" required />
            <button type="submit">Shorten</button>
        </form>

        <div id="result"></div>

        <script src="https://unpkg.com/htmx.org"></script>
    </body>
</html>
